In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [18]:
%matplotlib inline

Given what we've learned so far, let's tackle [this Kaggle competition](https://www.kaggle.com/c/titanic-gettingStarted).

----
Read the `titanic/train.csv` and get some info on it.

### Despite attempting various changes, my Kaggle score was never better than .74163

In [19]:
train = pd.read_csv("titanic/train.csv")
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.5+ KB

In [20]:
train.Name.head()
train.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S

In [21]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [22]:
train.Embarked.value_counts()
t = train[(train.Survived == 1) & (train.Sex == 'male')]

In [23]:
t = train[(train.Survived == 0) & (train.Embarked) & (train.Sex == 'female')]
t.Embarked.value_counts()

S    63
C     9
Q     9
dtype: int64

There's a marked difference in survival rates between men and women. Let's go ahead and enter the competition just using that as our metric.

We need to output a CSV with the following structure:

  - PassengerId
  - Survived (as 1(Yes) or 0(No))
  
Given our assumption, lets mark Females as 1 and Males as 0.

Read in `titanic/test.csv` - otherwise your life will suck.

Write this to a CSV and upload it to the kaggle competition.

<!---
test = pd.read_csv("titanic/test.csv")
test["Survived"] = 0
test.loc[test["Sex"] == "female", "Survived"] = 1
test = test[["PassengerId", "Survived"]]
test.to_csv("titanic/gendermodel.csv", index=False)
test
-->

In [33]:
f3 = pd.read_csv('titanic/test.csv')
f3['Survived'] = 0
f3.loc[f3['Sex'] == 'female', 'Survived'] = 1

In [35]:
f3.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1

In [36]:
f4 = f3[(f3.Pclass == 3) & (f3.Sex == 'female') & (f3.Embarked == 'S')]

In [32]:
f4.Survived.value_counts()

0    41
dtype: int64

In [14]:
f3.to_csv("titanic/f_3_embs.csv", index=False)